$blue: #0984e3 !default;
$white: #ffffff !default;
$text-color: rgb(34, 34, 34) !default;
$light-grey: rgb(237, 237, 237) !default;
$mid-grey: rgb(153, 153, 153) !default;
$dark-grey: rgb(68, 68, 68) !default;

$text-font-primary: 'Lato', sans-serif;
$text-font-secondary: 'Raleway', sans-serif;
