// Base
@import 'base/variables';
@import 'base/mixins';
@import 'base/base';

// layout
@import 'layout/header';
@import 'layout/footer';

// Components
@import 'components/section-header';
@import 'components/button';

// Homepage Sections
@import 'pages/home/hero';
@import 'pages/home/about';
@import 'pages/home/skills';
@import 'pages/home/portfolio';
@import 'pages/home/contact';

// /**
//  * WordPress customizationn
//  */
/* If WP-Adminbar is visible */
body.admin-bar {
  #header.fixed-top {
    top: 32px;
  }

  .edit-link a {
    color: #fff !important;
    font-weight: normal !important;
    text-decoration: none !important;

    &::before {
      content: '\270E';
      display: inline-block;
      margin-right: 5px;
    }
  }
}
