a.btn-blue {
  font-size: 1.25rem;
  padding: 1rem 1rem;
  background-color: $blue;
  color: $light-grey;
  border-radius: 0.5rem;
  text-transform: uppercase;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: lighten($blue, 5%);
    color: $light-grey;
    text-decoration: none;
  }

  &:active,
  &:focus {
    background-color: darken($blue, 5%);
  }
}
