.section__header {
  text-align: center;
  margin-bottom: 2rem;

  @include breakpoint(sm) {
    // padding-top: 1.5rem;
    // padding-bottom: 1.5rem;
  }

  @include breakpoint(md) {
    margin-bottom: 4rem;
    // padding-top: 3rem;
    // padding-bottom: 3rem;
  }

  .section__heading {
    position: relative;
    font-size: 1.5rem;
    color: $text-color;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    letter-spacing: 3px;
    margin-bottom: 3rem;

    &::after {
      content: '';
      position: absolute;
      top: calc(100% + 1.5rem);
      height: 5px;
      width: 3rem;
      background: $pink;
      left: 50%;
      transform: translateX(-50%);
      border-radius: 5px;
    }
  }

  .section__heading--sub {
    font-size: 1.25rem;
    margin-bottom: 0;
  }
}
