.section__header {
  color: $light-grey;
  background: linear-gradient(-62deg, $blue, #49acf8);
  padding: 2rem 0;
  text-align: center;

  @include breakpoint(md) {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  @include breakpoint(sm) {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}

.section__heading {
  line-height: 1;
  margin-bottom: 0.5rem;
}

p.section__heading--sub {
  font-size: 1rem;
  margin-bottom: 0;
}
