.footer {
  padding: 2rem 0;
  background-color: $dark-grey;
  text-align: center;
  color: $light-grey;

  @include breakpoint(md) {
    padding: 6rem 0;
  }

  &__social {
    margin-top: 1rem;

    & a {
      display: inline-block;

      &:not(:last-child) {
        margin-right: 1rem;
      }
    }

    & svg {
      fill: $light-grey;
      width: 2.75rem;
      height: 2.75rem;

      &:hover {
        fill: $blue;
      }
    }
  }

  &__links {
    margin-top: 1rem;

    & a.footer__link {
      color: $light-grey;
      font-size: 1rem;

      @include breakpoint(md) {
        font-size: 1.25rem;
      }

      &:hover {
        color: $blue;
      }
    }

    & span {
      font-size: 1.25rem;
      padding: 0 1rem;
      display: inline-block;
      margin-bottom: 1rem;
      color: $blue;
    }
  }

  &__copyright {
    font-size: 0.75rem;
    margin-top: 1rem;
  }
}

#backToTop {
  width: 3rem;
  position: fixed;
  bottom: 0.5rem;
  right: 2rem;
  background-color: $blue;
  font-size: 2rem;
  text-align: center;
  text-decoration: none;
  color: $white;
  cursor: pointer;
  line-height: 4rem;
  display: none;
  transform: rotate(270deg);
  z-index: 999;
  border: 1px solid $white;
  transition: background-color 0.3s;

  @include breakpoint(md) {
    width: 3rem;
    font-size: 2rem;
    line-height: 3rem;
    bottom: 2.5rem;
  }

  &:hover {
    background-color: adjust-hue($blue, -5);
  }
}
