.footer {
  padding: 8rem 0;
  background-color: $dark-grey;
  text-align: center;
  color: $light-grey;

  @include breakpoint(md) {
    padding: 4rem 0;
  }

  &__copyright {
    font-size: 1.6rem;

    & span {
      color: $blue;
      text-transform: uppercase;
    }
  }

  &__links {
    margin-top: 1rem;

    & span {
      font-size: 1.75rem;
      padding: 0 1rem;
      display: inline-block;
      margin-bottom: 1rem;
    }
  }

  &__link {
    font-size: 1.75rem;
    color: $light-grey;

    &:hover {
      color: $light-grey;
    }
  }

  &__social {
    margin-top: 1rem;

    & a {
      display: inline-block;

      &:not(:last-child) {
        margin-right: 1rem;
      }
    }

    & svg {
      fill: $light-grey;
      width: 2.75rem;
      height: 2.75rem;
    }
  }
}

#backToTop {
  width: 4rem;
  position: fixed;
  bottom: 5.5rem;
  right: 2rem;
  background-color: $blue;
  font-size: 3rem;
  text-align: center;
  text-decoration: none;
  color: $white;
  cursor: pointer;
  line-height: 4rem;
  display: none;
  transform: rotate(270deg);
  z-index: 999;
  border: 1px solid $white;
  transition: background-color 0.3s;

  @include breakpoint(md) {
    width: 3rem;
    font-size: 2rem;
    line-height: 3rem;
    bottom: 9.5rem;
  }

  &:hover {
    background-color: adjust-hue($blue, -5);
  }
}
