#header {
  height: 6rem;
  font-size: 0.75rem;
  font-weight: 600;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: transparent;
  transition: 0.5s;

  display: flex;
  justify-content: center;
  align-items: center;

  &.scrolled {
    background-color: $dark-grey;
    transition: 0.5s;
  }

  &.page-nav {
    background-color: $dark-grey;
  }

  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include breakpoint(md) {
      justify-content: center;
    }

    &__link {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0.5rem 1rem;
      text-decoration: none;
      text-transform: uppercase;
      color: $light-grey;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.35);
      transition: all 0.3s;
      height: 100%;
      position: relative;
      overflow: hidden;

      &.active {
        background-color: $blue;
      }

      .nav__icon {
        fill: $blue;
        width: 2rem;
        height: 2rem;
        margin-bottom: 0.8rem;
      }

      @media (hover: hover) and (pointer: fine) {
        &:hover {
          background-color: $blue;
          .nav__icon {
            fill: $light-grey;
          }
        }

        @include breakpoint(md) {
          padding: 1rem 2rem;
        }
      }
    }
  }
}

// .logo {
//   width: 5.5rem;
//   height: 5.5rem;
//   fill: $light-grey;
//   margin-left: 2rem;
// }
