// Contact Form

.contact {
  color: $light-grey;

  &__container {
    max-width: 75rem;
    margin: 3rem auto;
    display: flex;
    padding: 0 2rem;
  }

  &__info {
    background: linear-gradient(-62deg, #0984e3, #49acf8);
    padding: 2.25rem;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    flex-basis: 40%;

    & span {
      font-size: 1.3rem;
      margin-top: 1rem;
      display: block;
    }

    @include breakpoint(sm) {
      display: none;
    }
  }

  &__email a {
    color: $light-grey;
  }

  &__text {
    display: flex;
    align-items: center;
    margin-top: 2rem;

    & > p {
      font-size: 1.8rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #fff;
      margin: 0;
    }
  }

  &__icon {
    fill: $light-grey;
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 0.5rem;
  }

  &__form {
    background-color: $dark-grey;
    padding: 2.25rem;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;

    display: flex;
    flex-direction: column;
    flex-basis: 60%;

    & > * {
      border-radius: 0.35rem;

      & input {
        box-shadow: none;
      }

      & textarea {
        box-shadow: none;
      }

      &:not(:last-child) {
        margin-bottom: 1.2rem;
      }
    }

    @include breakpoint(sm) {
      flex-basis: 100%;
    }
  }

  &__form-group {
    position: relative;
  }

  &__form-input {
    width: 100%;
    font-size: 1.75rem;
    padding: 1.5rem;
    outline: none;
    border-radius: 6px;
    border: 1px solid #d0d0d0;
    text-indent: 2rem;
    position: relative;
    transition: all 300ms;
  }

  &__form-input-img {
    fill: $mid-grey;
    width: 2.5rem;
    height: 2.5rem;

    position: absolute;
    top: 1.2rem;
    left: 0.5rem;
    z-index: 10;
  }
}
