// Hero Section - Homepage

.hero {
  display: flex;
  align-items: center;
  padding: 3rem 0;
  margin-top: 85px;
  color: $light-grey;
  background-image: url("data:image/svg+xml,%3Csvg width='44' height='12' viewBox='0 0 44 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 12v-2L0 0v10l4 2h16zm18 0l4-2V0L22 10v2h16zM20 0v8L4 0h16zm18 0L22 8V0h16z' fill='$dark-grey' fill-opacity='0.05' fill-rule='evenodd'/%3E%3C/svg%3E");
  border-bottom: 1px dashed $pink;

  @include breakpoint(md) {
    padding: 8rem 0;
  }

  @include breakpoint(lg) {
    // height: 700px;
  }

  &__content {
    color: #1f1f25;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    @include breakpoint(lg) {
      text-align: start;
    }

    .intro-text {
      color: #1f1f25;
      font-size: 1rem;
      text-transform: uppercase;
      letter-spacing: 3px;
      display: block;
      margin-bottom: 20px;
    }

    h1 {
      font-family: 'Montserrat', sans-serif;
      font-size: clamp(1.75rem, 0.2143rem + 3.9286vw, 3.75rem);
      margin-bottom: 1rem;

      span.title-1 {
        color: #f9004d;
        display: inline-block;
      }
    }

    h2 {
      color: $text-color;
      font-size: clamp(1.25rem, 0.7143rem + 1.4286vw, 2rem);
      margin-bottom: 1rem;
    }

    .cta {
      align-self: center;
      font-size: 1.5rem;
      transition: 0.3s;

      @include breakpoint(lg) {
        align-self: start;
      }

      &:hover {
        color: #f9004d;
      }
    }
  }

  &__photo {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
    margin-bottom: 1.25rem;

    @include breakpoint(lg) {
      margin-bottom: 0;
    }

    :hover {
      transform: translateX(-50%);
      box-shadow: 0 10px 20px rgba(86, 86, 198, 0.3);
    }

    img {
      max-width: 50%;
      border-radius: 50%;
      box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1),
        0 20px 40px rgba(255, 255, 255, 0.15);
      border: 7px solid #fff;
      outline: red dashed 1px;
      justify-content: center;

      @include breakpoint(md) {
        max-width: 100%;
      }
    }
  }
}
