// Hero Section - Homepage

.hero {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
    url(../../assets/images/ad_background.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $light-grey;
  position: relative;

  @include breakpoint(md) {
    height: 100vh;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  &__heading {
    color: $blue;
    margin-bottom: 1.25rem;
    font-size: 5rem;
    line-height: 1;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);

    @include breakpoint(sm) {
      display: block;
      margin-bottom: 1rem;
    }

    &--sub {
      margin-bottom: 1.75rem;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.35);
      @include breakpoint(sm) {
        font-size: 2.23rem;
      }
    }
  }
}
