// Hero Section - Homepage

.hero {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(
      rgba(104, 173, 206, 0.25),
      rgba(0, 0, 0, 0.5)
    ),
    url(../../assets/images/ad_background.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $light-grey;
  position: relative;

  @include breakpoint(md) {
    height: 100vh;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  &__heading {
    color: $blue;
    margin-bottom: 1.25rem;
    font-size: 5rem;
    line-height: 1;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);

    @include breakpoint(sm) {
      display: block;
      margin-bottom: 1rem;
    }

    &--sub {
      margin-bottom: 1.75rem;
      text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
      font-size: 1.75rem;

      span {
        color: $blue;
      }
    }
  }
}
