// Portfolio

.portfolio {
  &__container {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .card {
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);
    transition: all 0.2s ease-in-out;

    &:hover {
      box-shadow: 0 10px 11px rgba(0, 0, 0, 0.25);
    }
  }

  .card-text {
    color: $text-color;
  }
}
