.skills {
  &__dmarketing {
    &--heading {
      background-color: $light-grey;
      padding: 1.5rem;

      h4 {
        color: $blue;
      }
    }

    ul {
      @include breakpoint(md) {
        columns: 2;
        li {
          padding-right: 1rem;
        }
      }

      @include breakpoint(lg) {
        columns: 3;
      }
    }

    &-certs {
      &--icon {
        svg {
          margin-right: 0.3rem;
          color: $blue !important;
          fill: $blue;
          width: 1.5rem !important;
          height: 1.5rem !important;
        }
      }

      a {
        color: $text-color;
        transition: color 0s ease;
        &:hover {
          color: $blue;
        }
      }

      &--name {
        font-size: 1.1rem;
      }
    }

    &--examples {
      a {
        color: $text-color;
        transition: color 0s ease;
        &:hover {
          color: $blue;
        }
      }
    }
  }

  &__web {
    background-color: $light-grey;
    padding: 1.5rem;

    h4 {
      color: $blue;
    }

    &--ppc {
      img {
        max-width: 2rem;
        max-height: 2rem;
      }
    }
  }

  &__list {
    padding: 2rem 0 1rem;
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1.5rem;
  }

  &__icon {
    text-align: center;
    margin: 0 auto 0.5rem;

    & svg {
      color: $blue !important;
      fill: $blue;
      width: 3.5rem !important;
      height: 3.5rem !important;
    }
  }

  &__name {
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 0;
  }
}
